.Formpage{
    background-color: rgb(194, 144, 18);
    height:568px;
    text-align: center;
    
}
.bgcolor{
    margin-top: 123px;
}
.formcontainer{
    background-color: rgb(119, 93, 6);
    height: 568px;
}